{% extends 'base.html.twig' %}

{% block title %}Hello GrammaireController!{% endblock %}

{% block body %}

<h1 class="text-center m-4">GRAMMAIRE</h1>

        <table class="table table-striped">
            <thead>
            <tr class="text-info">
                <th scope="col">Nom/Prénom</th>
                {% for belt in competenceBelts %}
                    <th scope="col">{{ belt.color}}</th>
                {% endfor %}
            </tr>
            <tr>
                <th scope="col">sous domaines</th>
                {% for subDomain in subDomains %}
                    <th scope="col">{{ subDomain.name}}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Emile Louis</th>
                    <td>
                        <select class="form-control">
                            <option>En attente</option>
                            <option>Réussi</option>
                            <option>Raté</option>
                        </select>
                    </td>
                    <td>
                        <select class="form-control">
                            <option>En attente</option>
                            <option>Réussi</option>
                            <option>Raté</option>
                        </select>
                    </td>
                    <td>
                        <select class="form-control">
                            <option>En attente</option>
                            <option>Réussi</option>
                            <option>Raté</option>
                        </select>
                    </td>
                    <td>
                        <select class="form-control">
                            <option>En attente</option>
                            <option>Réussi</option>
                            <option>Raté</option>
                        </select>
                    </td>
                    <td>
                        <select class="form-control">
                            <option>En attente</option>
                            <option>Réussi</option>
                            <option>Raté</option>
                        </select>
                    </td>
                    <td>
                        <select class="form-control">
                            <option>En attente</option>
                            <option>Réussi</option>
                            <option>Raté</option>
                        </select>
                    </td>
                    <td>
                        <select class="form-control">
                            <option>En attente</option>
                            <option>Réussi</option>
                            <option>Raté</option>
                        </select>
                    </td>
                    <td>
                        <select class="form-control">
                            <option>En attente</option>
                            <option>Réussi</option>
                            <option>Raté</option>
                        </select>
                    </td>
                    <td>
                        <select class="form-control">
                            <option>En attente</option>
                            <option>Réussi</option>
                            <option>Raté</option>
                        </select>
                    </td>
                    <td>
                        <button type="button" class="btn btn-warning btn-lg">Valider</button>
                    </td>
                </tr>
            </tbody>
        </table>

{% endblock %}
